main {
  background: #fbfaff;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin-top: 4px;
  border-top-left-radius: 32px;
  padding-bottom: 50px;

  .container {
    padding: 48px 32px 0px 32px;

    header {
      width: 100%;
      max-width: 120rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 24px;

      margin-bottom: 3.2rem;

      h1 {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 130%;

        color: #403937;

        display: flex;
        align-items: center;
        gap: 12px;
      }

      .avatar {
        border-radius: 50%;
      }
    }

    .search {
      display: flex;
      align-items: center;
      padding: 0px 24px;

      gap: 16px;

      width: 100%;
      max-width: 120rem;
      margin-bottom: 3.2rem;

      button {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 32px;

        background-color: #7c3aed;
        border-radius: 5px;
        border: none;

        border: 0.7px solid #ffffff;
        text-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.9);
        }
      }

      .input-search {
        flex: 1;
        display: flex;
        gap: 1rem;

        padding: 1.2rem 2.4rem;
        background: #ffffff;
        border: 0.7px solid #e3e3e3;
        box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
        border-radius: 8px;

        input {
          border: none;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 100%;
          width: 100%;
          outline: none;

          &::placeholder {
            color: #7c7c8a;
            font-size: 1.6rem;
          }
        }
      }
    }

    .kanban-grid {
      width: 100%;
      max-width: 120rem;
      padding: 0 24px;
      max-width: 120rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 48px;

      .column {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
          color: #403937;
          font-weight: 700;
          font-size: 2rem;
          line-height: 130%;
          padding: 24px 0px 24px 24px;

          display: flex;
          gap: 40px;

          button {
            background-color: #7c3aed;
            border: none;
            padding: 0px 10px;
            border-radius: 4px;
            cursor: pointer;
            transition: filter 0.3s;

            &:hover {
              filter: brightness(0.9);
            }

            .ph-plus {
              color: #fff;
            }
          }
        }

        .dropzone {
          height: 100%;

          .item {
            background: #ffffff;
            box-shadow: 0px 4px 16px #eae2fd;
            border-radius: 8px;

            padding: 24px;

            &:not(:last-child) {
              margin-bottom: 24px;
            }

            .title {
              font-weight: 700;
              font-size: 1.4rem;
              line-height: 130%;
              color: #403937;
              margin-bottom: 10px;

              display: flex;
              justify-content: space-between;
              gap: 5px;
              button {
                background-color: #dc2626;
                border-radius: 50%;
                border: none;
                padding: 3px;
                transition: background-color 0.3s;
                cursor: pointer;

                display: flex;
                align-items: center;

                .ph-x {
                  color: #fff;
                  font-size: 10px;
                }

                &:hover {
                  background-color: #f87171;
                }
              }
            }

            p {
              width: 31ch;
              height: 35px;
              overflow: hidden;

              margin-bottom: 10px;

              color: #756966;
              font-weight: 500;
              font-size: 14px;
              line-height: 130%;

              text-overflow: ellipsis;
            }

            .topic {
              display: flex;
              gap: 8px;
              a {
                padding: 4px 8px;
                background: #e2d6ff;
                border-radius: 8px;
                color: #7c3aed;
                font-weight: 500;
                font-size: 11px;
                line-height: 130%;
              }
            }
          }
        }

        .is-dragging {
          cursor: move;
          opacity: 0.5;
        }
      }
    }
  }

  @media (max-width: 1050px) {
    .container {
      .kanban-grid {
        grid-template-columns: initial;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .search {
        padding: 0px;
        flex-direction: column-reverse;

        width: 100%;

        .input-search {
          order: 1;
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 568px) {
    border-radius: initial;
    margin-top: 0px;
    .container {
      header {
        flex-direction: column;
        gap: 1.4rem;
      }
      .kanban-grid {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  @media (max-width: 370px) {
    .container {
      padding: 30px 10px;

      .kanban-grid {
        .dropzone {
          .item {
            padding: 15px;
          }
        }
      }
    }
  }
}
